$colors: (
  "red": (
    "100": #fef2f4,
    "200": #fcc8d1,
    "300": #ffabab,
    "400": #d14d72,
  ),
  "blue": (
    "100": #f7eedd,
    "200": #ace2e1,
    "300": #41c9e2,
    "400": #008dda,
  ),
  "purple": (
    "100": #ffebff,
    "200": #fb9ad1,
    "300": #bc7fcd,
    "400": #86469c,
  ),
  "green": (
    "100": #f1f8f4,
    "200": #d8efd3,
    "300": #95d2b3,
    "400": #55ad9b,
  ),
  "cream": (
    "100": #feece2,
    "200": #f7ded0,
    "300": #e2bfb3,
    "400": #ffbe98,
  ),
  "yellow": (
    "100": #feffe1,
    "200": #ffeea9,
    "300": #ffbf78,
    "400": #ff7d29,
  ),
);

$black: #373a40;
$darkModeColor: #22252a;
$white: #fcfdf2;
