$colors: (
  "red": (
    '100': #FEF2F4,
    '200': #FCC8D1,
    '300': #FFABAB,
    '400': #D14D72,
  ),
  "blue": (
    '100': #F7EEDD,
    '200': #ACE2E1,
    '300': #41C9E2,
    '400': #008DDA,
  ),
  "purple": (
    '100': #FFEBFF,
    '200': #FB9AD1,
    '300': #BC7FCD,
    '400': #86469C,
  ),
  "green": (
    '100': #F1F8F4,
    '200': #D8EFD3,
    '300': #95D2B3,
    '400': #55AD9B,
  ),
  "cream": (
    '100': #FEECE2,
    '200': #F7DED0,
    '300': #E2BFB3,
    '400': #FFBE98,
  ),
  "yellow": (
    '100': #FEFFE1,
    '200': #FFEEA9,
    '300': #FFBF78,
    '400': #FF7D29,
  ),
);

$black: #373A40;
$white: #FCFDF2;