@import "colors";
@import "base";

@each $mode in $colorMode {
  @each $colorName, $values in $colors {
    .dropdown-content-#{$colorName}-#{$mode} {
      @if $mode == "light" {
        background-color: map-get($map: $values, $key: "100");
      } @else {
        background-color: adjust-color(
          $color: $darkModeColor,
          $hue: 0%,
          $saturation: 0
        );
      }
    }
    .dropdown-item-#{$colorName} {
      color: map-get($map: $values, $key: "400");
      background-color: transparent;
      &:hover {
        background-color: map-get($map: $values, $key: "200");
      }
    }
  }
}
