@import "colors";

:root {
  font-family: "Quicksand", "Roboto Flex", sans-serif;
}

.dark-mode {
  color: $white;
  background-color: $black;
}

.light-mode {
  color: $black;
  background-color: $white;
}

.to-center {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.25rem;
}

@each $number in $colorKeys {
  @each $colorName, $values in $colors {
    .min-bg-#{$colorName}-#{$number} {
      background-color: map-get($map: $values, $key: $number);
    }
    .min-text-#{$colorName}-#{$number} {
      color: map-get($map: $values, $key: $number);
    }
  }
}
